* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.main {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  background-color: #303841;
  color: #ffffff; }

.bg-dark {
  background-color: #303841 !important; }

.navbarContainer {
  z-index: 100; }
  .navbarContainer .navbar-brand {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    margin-bottom: 1rem; }
    .navbarContainer .navbar-brand:hover {
      color: #00adb5; }
  .navbarContainer .nav-link {
    color: #ffffff;
    margin-top: 1rem;
    font-weight: 400; }
    .navbarContainer .nav-link:hover {
      color: #00adb5; }
  .navbarContainer .nav-link.active {
    color: #00adb5; }
  .navbarContainer .navbarFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  .navbarContainer .navbar-toggler-icon {
    background-image: url("./img/hamburgerMenuIcon.png");
    background-size: cover; }
  .navbarContainer .progressWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .navbarContainer .progressBar {
    position: absolute;
    top: 5.7rem;
    left: 0;
    width: 100%;
    height: .4rem;
    z-index: 10000;
    background-color: #ff5722; }
  .navbarContainer .progressBarUnder {
    position: absolute;
    top: 5.7rem;
    left: 0;
    width: 100%;
    height: .4rem;
    background-color: rgba(255, 87, 34, 0.5); }

@media only screen and (min-width: 768px) {
  .navbarContainer .nav-link {
    margin-top: 0;
    margin-right: 2.5rem; }
  .me-auto {
    width: 100%; }
    .me-auto .navbarFlex {
      flex-direction: row;
      justify-content: flex-end; } }

.landingContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./img/landingImg.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center; }
  .landingContainer .textContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .landingContainer .textContainer h1 {
      font-size: 3rem; }
    .landingContainer .textContainer h4 {
      font-size: 1.5rem; }

@media only screen and (min-width: 768px) {
  .landingContainer .textContainer h1 {
    font-size: 5rem; }
  .landingContainer .textContainer h4 {
    font-size: 2rem; } }

#aboutMe {
  padding-top: 7rem; }

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "descriptionContainer"  "imgProfileContainer";
  row-gap: 2rem;
  margin-bottom: 5rem; }
  .aboutMeContainer .imgProfileContainer {
    grid-area: imgProfileContainer;
    display: flex;
    justify-content: center; }
    .aboutMeContainer .imgProfileContainer .imgProfile {
      max-width: 85%;
      border-radius: 5%; }
  .aboutMeContainer .descriptionContainer {
    grid-area: descriptionContainer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem; }
    .aboutMeContainer .descriptionContainer h2 {
      font-size: 3.5rem;
      color: #ff5722; }
    .aboutMeContainer .descriptionContainer p {
      font-size: 1.5rem; }

@media only screen and (min-width: 768px) {
  .aboutMeContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imgProfileContainer descriptionContainer"; }
    .aboutMeContainer .imgProfileContainer {
      grid-area: imgProfileContainer; }
      .aboutMeContainer .imgProfileContainer .imgProfile {
        max-width: 80%;
        margin-left: 10rem; }
    .aboutMeContainer .descriptionContainer {
      grid-area: descriptionContainer;
      padding-right: 20rem; }
      .aboutMeContainer .descriptionContainer h2 {
        font-size: 5rem; }
      .aboutMeContainer .descriptionContainer p {
        font-size: 2rem; } }

/* .aboutMeContainer{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  .imgProfileContainer{
    width: 50%;
  }
  .imgProfile{
    max-width: 80%;
    border-radius: 5%;
  }

  .descriptionContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    h1{
      font-size: 5rem;
      color:$fourthColor;
    }
  }
}  
 */
#skills {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #skills h2 {
    font-size: 3.5rem;
    color: #ff5722; }
  #skills .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #skills .skillsContainer .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3.5rem 2rem; }
      #skills .skillsContainer .skill p {
        font-weight: 500; }
      #skills .skillsContainer .skill img {
        margin-top: 1rem;
        width: 8rem;
        height: 8rem; }

@media only screen and (min-width: 768px) {
  #skills h2 {
    font-size: 5rem; }
  #skills .skillsContainer {
    margin: 1rem 10rem; }
    #skills .skillsContainer .skill {
      margin: 4rem; }
      #skills .skillsContainer .skill img {
        margin-top: 1rem;
        width: 12rem;
        height: 10rem; } }

#projects {
  padding-top: 7rem; }
  #projects h2 {
    font-size: 3.5rem;
    color: #ff5722;
    text-align: center;
    margin-bottom: 2rem; }
  #projects .projectsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    #projects .projectsContainer .projectWrapper {
      padding-top: 2.5rem; }
      #projects .projectsContainer .projectWrapper .projectTitle {
        text-align: center; }
        #projects .projectsContainer .projectWrapper .projectTitle:hover {
          color: #00adb5; }
      #projects .projectsContainer .projectWrapper .project {
        width: 32rem;
        height: 15rem;
        background-color: red;
        margin: 2rem 1rem; }

@media only screen and (min-width: 768px) {
  #projects h2 {
    font-size: 5rem;
    margin-bottom: 4rem; }
  #projects .projectsContainer .projectWrapper .project {
    width: 50rem;
    height: 20rem; } }

#contact {
  padding-top: 8rem; }
  #contact h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #ff5722; }
  #contact .contactContainer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contact .contactContainer .mailbox {
      margin-bottom: 5rem; }
    #contact .contactContainer .form {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem; }
      #contact .contactContainer .form input {
        border: 0.3rem solid #00adb5;
        border-radius: 1rem;
        margin-top: .5rem;
        margin-bottom: 3rem; }
      #contact .contactContainer .form textarea {
        border: 0.3rem solid #00adb5;
        border-radius: 1rem;
        resize: none;
        margin-top: .5rem;
        margin-bottom: 2rem; }
      #contact .contactContainer .form .buttonSubmit {
        background-color: #ff5722;
        border-color: #ff5722;
        color: #eeeeee;
        border-radius: 1rem;
        margin: 2rem;
        padding: 1rem; }
        #contact .contactContainer .form .buttonSubmit:hover {
          background-color: #eeeeee;
          border-color: #eeeeee;
          color: #ff5722; }

@media only screen and (min-width: 768px) {
  #contact h2 {
    font-size: 5rem; }
  #contact .contactContainer {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4rem; }
    #contact .contactContainer .form {
      margin-left: 15rem; }
      #contact .contactContainer .form input {
        width: 130%; }
      #contact .contactContainer .form textarea {
        width: 130%;
        height: 15rem; }
      #contact .contactContainer .form .buttonSubmit {
        width: 130%;
        margin: unset;
        margin-top: 2rem;
        padding: 1.2rem; } }

.footerContainer {
  padding: 3rem;
  background-image: radial-gradient(#303841, #212121);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footerContainer h1 {
    color: #00adb5;
    font-size: 3rem; }
  .footerContainer .networksContainer {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center; }
    .footerContainer .networksContainer .networkContainer {
      margin: 1.5rem; }
  .footerContainer .copyrights {
    display: flex; }
    .footerContainer .copyrights span {
      font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  .footerContainer .networksContainer .networkContainer {
    position: relative;
    margin-left: 4rem;
    margin-right: 4rem; }
    .footerContainer .networksContainer .networkContainer svg {
      border-radius: 50%; }
    .footerContainer .networksContainer .networkContainer:hover svg {
      border: 0.2rem dotted #00adb5; } }
