* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.main {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  background-color: #303841;
  color: #ffffff; }

.bg-dark {
  background-color: #303841 !important; }

.navbarContainer {
  z-index: 100; }
  .navbarContainer .navbar-brand {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    margin-bottom: 1rem; }
    .navbarContainer .navbar-brand:hover {
      color: #00adb5; }
  .navbarContainer .nav-link {
    color: #ffffff;
    margin-top: 1rem;
    font-weight: 400; }
    .navbarContainer .nav-link:hover {
      color: #00adb5; }
  .navbarContainer .nav-link.active {
    color: #00adb5; }
  .navbarContainer .navbarFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  .navbarContainer .navbar-toggler-icon {
    background-image: url("./img/hamburgerMenuIcon.png");
    background-size: cover; }
  .navbarContainer .progressWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .navbarContainer .progressBarUnder {
    position: absolute;
    top: 5.7rem;
    left: 0;
    width: 100%;
    height: .4rem;
    background-color: #ff5722; }

@media only screen and (min-width: 768px) {
  .navbarContainer .nav-link {
    margin-top: 0;
    margin-right: 2.5rem; }
  .me-auto {
    width: 100%; }
    .me-auto .navbarFlex {
      flex-direction: row;
      justify-content: flex-end; } }

.landingContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./img/landingImg.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center; }
  .landingContainer .textContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .landingContainer .textContainer h1 {
      font-size: 3rem; }
    .landingContainer .textContainer h4 {
      font-size: 1.5rem; }

@media only screen and (min-width: 768px) {
  .landingContainer .textContainer h1 {
    font-size: 5rem; }
  .landingContainer .textContainer h4 {
    font-size: 2rem; } }

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "descriptionContainer"  "imgProfileContainer";
  row-gap: 2rem;
  margin-bottom: 5rem; }
  .aboutMeContainer .imgProfileContainer {
    grid-area: imgProfileContainer;
    display: flex;
    justify-content: center; }
    .aboutMeContainer .imgProfileContainer .imgProfile {
      max-width: 85%;
      border-radius: 5%; }
  .aboutMeContainer .descriptionContainer {
    grid-area: descriptionContainer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem; }
    .aboutMeContainer .descriptionContainer h1 {
      font-size: 3.5rem;
      color: #ff5722; }
    .aboutMeContainer .descriptionContainer p {
      font-size: 1.5rem; }

@media only screen and (min-width: 768px) {
  .aboutMeContainer {
    margin-top: 10rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imgProfileContainer descriptionContainer"; }
    .aboutMeContainer .imgProfileContainer {
      grid-area: imgProfileContainer; }
      .aboutMeContainer .imgProfileContainer .imgProfile {
        max-width: 80%;
        margin-left: 10rem; }
    .aboutMeContainer .descriptionContainer {
      grid-area: descriptionContainer;
      padding-right: 20rem; }
      .aboutMeContainer .descriptionContainer h1 {
        font-size: 5rem; }
      .aboutMeContainer .descriptionContainer p {
        font-size: 2rem; } }

/* .aboutMeContainer{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  .imgProfileContainer{
    width: 50%;
  }
  .imgProfile{
    max-width: 80%;
    border-radius: 5%;
  }

  .descriptionContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    h1{
      font-size: 5rem;
      color:$fourthColor;
    }
  }
}  
 */
