.contactContainer{
  display: flex;
  justify-content: center;
  .mailbox{
    align-self: center;
  }
  .form{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    input{
      border: .3rem solid $secondaryColor;
      border-radius: 1rem;
      margin-top: .5rem;
      margin-bottom: 3rem;
    }
    textarea{
      border: .3rem solid $secondaryColor;
      border-radius: 1rem;
      resize: none;
      margin-bottom: 2rem;
    }
    .buttonSubmit{
      background-color: $fourthColor;
      border-color: $fourthColor;
      color: $thirdColor;
      border-radius: 1rem;
      margin: 2rem;
      padding: 1rem;
      &:hover{
        background-color: $thirdColor;
        border-color: $thirdColor;
        color: $fourthColor;
      }
    }
  }
}