#contact{
  padding-top: 8rem;
  h2{
    text-align: center;
    font-size: 3.5rem;
    color:$fourthColor;
  }
  .contactContainer{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mailbox{
      margin-bottom: 5rem;
    }
    .form{
      display: flex;
      flex-direction: column;
      input{
        border: .3rem solid $secondaryColor;
        border-radius: 1rem;
        margin-top: .5rem;
        margin-bottom: 3rem;
      }
      textarea{
        border: .3rem solid $secondaryColor;
        border-radius: 1rem;
        resize: none;
        margin-top: .5rem;
        margin-bottom: 2rem;
      }
      .buttonSubmit{
        background-color: $fourthColor;
        border-color: $fourthColor;
        color: $thirdColor;
        border-radius: 1rem;
        margin: 2rem;
        padding: 1rem;
        &:hover{
          background-color: $thirdColor;
          border-color: $thirdColor;
          color: $fourthColor;
        }
      }
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #contact{
    h2{
      font-size: 5rem;
    }
    .contactContainer{
      flex-direction: row;
      justify-content: center;
      padding-bottom: 4rem;
      .form{
        margin-left: 15rem;
        input{
          width: 130%;
        }
        textarea{
          width: 130%;
          height: 15rem;
        }
        .buttonSubmit{
          width: 130%;
          margin: unset;
          margin-top: 2rem;
          padding: 1.2rem;
        }
      }
    }
  }
}