.landingContainer{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./img/landingImg.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  .textContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 3rem;
    }
    h4{
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 768px ){
  .landingContainer{
    .textContainer{
      h1{
        font-size: 5rem;
      }
      h4{
        font-size: 2rem;
      }
    }
  }
}