* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}
.main{
  font-family: $fontFamily;
  font-size: 2rem;
  font-weight: 300;
  background-color: $primaryColor;
  color: $primaryText;
}
